{% extends "base.html" %}

{% block script %}

<script>

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

  $(document).ready(function(){
    console.log("Working");
    var query = getParameterByName('q')
    var tweetList = [];
    var nextTweetUrl;

    function updateHashLinks(){
      $(".media-body").each(function(){
        var hashtagRegex = /(^|\s)#([\w\d-]+)/g
        var newText = $(this).html().replace(hashtagRegex,"$1<a href='/tags/$2/'>#$2</a>")
        $(this).html(newText)
      })
    }

    function attachTweet(tweetValue,prepend){
      var dateDisplay = tweetValue.date_display;
      var tweetContent = tweetValue.content;
      var tweetUser = tweetValue.user;
      var isRetweet = tweetValue.is_retweet;
      var tweetFormatedHtml = "<div class=\"media\">" + isRetweet + "<div class=\"media-body\">" + tweetContent + "<br/> via <a href='" + tweetUser.url + "'>" + tweetUser.username + "</a> | " + dateDisplay + " | " + "<a href='/detail/" + tweetValue.id + "'>View</a>" + "</div></div><hr/>"
      if(prepend==true){
        $("#tweet-container").prepend(tweetFormatedHtml)
      }else{
        $("#tweet-container").append(tweetFormatedHtml)
      }
    }

    function parseTweets(){
      if(tweetList == 0){
        $("#tweet-container").text("No Tweets currently Found")
      }else{
        $.each(tweetList,function(key,value){
          var tweetKey = key;
          attachTweet(value)
        })
      }
    }
    function fetchTweets(url){
      var fetchUrl;
      if(!url){
        fetchUrl = "/api/"
      }else{
        fetchUrl = url
      }
      $.ajax({
        url: fetchUrl,
        data:{
          "q":query
        },
        method:"GET",
        success:function(data){
          tweetList = data.results
          if(data.next){
            nextTweetUrl = data.next
          }else{
            $("#loadmore").css("display", "none")
          }

          parseTweets()
          updateHashLinks()
        },
        error:function(data){
          console.log("Error")
          console.log(data)
        }
      })
    }
    fetchTweets()

    $("#loadmore").click(function(event){
      event.preventDefault()
      if(nextTweetUrl){
        fetchTweets(nextTweetUrl)
      }
    })

    var charStart = 140;
    var charCurrent = 0;
    $("#tweet-form").append("<span id='tweetChrasLeft'>140</span>")

    $("#tweet-form textarea").keyup(function(event){
      var tweetValue = $(this).val()
      charCurrent = charStart - tweetValue.length
      $("#tweetChrasLeft").text(charCurrent)

      if(charCurrent > 0){
        $("#tweetChrasLeft").removeClass("grey-color")
        $("#tweetChrasLeft").removeClass("red-color")
        $("#tweetChrasLeft").addClass("green-color")
      }
      else if(charCurrent == 0){
        $("#tweetChrasLeft").removeClass("grey-color")
        $("#tweetChrasLeft").removeClass("green-color")
        $("#tweetChrasLeft").addClass("grey-color")
      }
      else if(charCurrent < 0){
        $("#tweetChrasLeft").removeClass("grey-color")
        $("#tweetChrasLeft").removeClass("green-color")
        $("#tweetChrasLeft").addClass("red-color")
      }

    })

    // for posting tweets
    $("#tweet-form").submit(function(event){
      event.preventDefault()
      var formData = $(this).serialize()
      if(charCurrent >= 0){
        $.ajax({
          url:"/api/create/",
          data: formData,
          method:"POST",
          success:function(data){
            window.location.reload()
            // $(this).find("input[type=text], textarea").val("")
            attachTweet(data,true)
            updateHashLinks()
          },
          error:function(data){
            console.log("Error")
            console.log(data)
          }
        })
      }else{
        console.log("Cant send,Tweet too long");
      }

    })
  });
</script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <h1>{{ request.user }}</h1>
    </div>
    <div class="col-sm-9">
      {% if not request.GET.q %}
      <div>
      {% include "tweet/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_id="tweet-form" %}
      </div>
      {% endif %}<br>
    <div id="tweet-container">

    </div>
    <a href="#" id="loadmore">Load More Tweets</a>
    {# <button id="loadmore" class="btn btn-primary btn-sm">Load More Tweets</button> #}
    </div>
  </div>
{% endblock %}
